body{
    font-family: 'Muli', sans-serif;
    margin: 40px;
    color: rgb(57, 80, 70);    
  }
  h2{
    padding-top:10px;
  }

  .green-ridge-frame{
    width:40%;
    border: 4px ridge rgb(57, 80, 70);
    padding: 2px;
  }
  .post{
    background-color:rgb(245, 243, 228);
    border-bottom: 2px dashed rgb(57, 80, 70);
    padding-top:10px;
  }
  .post-indent{
    margin:10px;
  }
  .tasks{
    border-bottom:1px solid lightgrey;
  }
  .no-bullets{
    list-style-type: none;
  }
  #title-banner{
    text-align:center;    
    position: relative;
  }
  #title-banner-image{
    width:100%;
    border: 2px solid rgb(57, 80, 70);
    z-index: 1;
  }
  #main-title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size:60px;
    margin-bottom: 0px;
  }
  #sub-title{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 18px;
    color:rgb(254,67,101);
    z-index: 2;
    margin-top:10px;
  }
  #title-art{
    font-family : 'Gloria Hallelujah', cursive;
  }
  #title-code{
    font-family : monospace;
  }
  #navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    text-align:center;
    background-color: rgb(57, 80, 70);
    color:white;
    border: 3px solid white;
  }
  #navigation-bar li{
    display:inline;
    color:white;
    margin:0px;
    padding:10px;
  }
  #navigation-bar li a{
    color:white;
    text-decoration:none;
    margin:0px;
  }
  #navigation-bar li a:hover{
    background-color:rgb(254,67,101);
    color:white;
  }    